@model EasyRent.Models.PropertySlider

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add New Property Slider</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UploadedFile" class="control-label"></label>
                <input asp-for="UploadedFile" type="file" class="form-control" />
                <span asp-validation-for="UploadedFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertiesId" class="control-label"></label>
                <select asp-for="PropertiesId" class="form-control" asp-items="ViewBag.PropertiesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>