
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/HomeGeneral/Index.cshtml";
}


<!--========================================
=            Section breadcrumb            =
=========================================-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <div class="top">
                    <h4>Contact Us</h4>
                </div>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--====  End of Section breadcrumb  ====-->

<div class="container pdt80 pdbt80">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="contact-us">
                <h3>
                    Leave a message
                </h3>
                <div class="row">
                    <form action="" method="POST" role="form">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control input-lg" id="" placeholder="Your Name" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control input-lg" id="" placeholder="Email" type="email">
                                </input>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control input-lg" id="" placeholder="Website (Optional)" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Leave your massage Here ..." rows="8">
	                                </textarea>
                            </div>
                            <button class="btn button-theme btn-lg" href="#" type="submit">
                                Send A Massage
                                <i class="fa fa-long-arrow-right">
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="contact-information">
                <h3>
                    Contact Information
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, neque.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="info-location">
                    <span>
                        <i class="fa fa-map-marker">
                        </i>
                        15th Avenue, 15 362, San Francisco
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="info-location">
                    <i class="fa fa-envelope-square">
                    </i>
                    <span>
                        info@renteasy.com
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="info-location">
                    <span>
                        <i class="fa fa-mobile">
                        </i>
                        1(+123) 456 789 012
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map">
    <iframe frameborder="0" height="360" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=San+Francisco,+CA,+United+States&aq=0&oq=san+f&sll=37.0625,-95.677068&sspn=45.553578,93.076172&ie=UTF8&hq=&ll=37.77493,-122.419416&z=14&output=embed" width="100%">
    </iframe>
</div>
<div class="clearfix"></div>
<div class="bg-theme call-to-actions pdt40 pdbt40">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-call-us">
                    <h3>
                        Do you want rent or sell your property
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="call-us text-right">
                    <h3>
                        Call Us +55 4XX-678-431
                    </h3>
                    <a class="booking" href="#">
                        Booking
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
