
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/HomeGeneral/Index.cshtml";
}


<!--====  End of Section breadcrumb  ====-->

<div class="pdt80 pdbt80">
    <div class="container">
        <div class="page-title">
            <h3 class="mb30">
                FAQ (ASKED QUESTIONS AND ANSWERS)
            </h3>
        </div>
        <div class="row wow">
            <div class="col-xs-12 col-sm-12 col-md-8 wow fadeInUp delay-07s">
                <!-- Start Accordion -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOne">
                            <h6 class="panel-title">
                                <a data-parent="#accordion" data-toggle="collapse" href="#panel1">
                                    What is broker?
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse in" id="panel1">
                            <div class="panel-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum, bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt. Duis euismod placerat rhoncus. Phasellus mollis imperdiet placerat. Sed ac turpis nisl. Mauris at ante mauris. Aliquam posuere fermentum lorem, a aliquam mauris rutrum a. Curabitur sit amet pretium lectus, nec consequat orci.

                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis et metus in libero sollicitudin venenatis eu sed enim. Nam felis lorem, suscipit ac nisl ac, iaculis dapibus tellus. Cras ante justo, aliquet quis placerat nec, molestie id turpis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo">
                            <h6 class="panel-title">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel2">
                                    How To Gete Appoinment ?
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="panel2">
                            <div class="panel-body">
                                <p>
                                    Oporteat urbanitas est et, possit menandri pertinax at quo. Epicurei volutpat ad vim, at dictas offendit lucilius vis, tollit partiendo ei sea. Debet choro vituperatoribus quo ne. No vide omnium probatus vix, duo an audire percipit inciderint.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree">
                            <h6 class="panel-title">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel3">
                                    How to provide the property ?
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="panel3">
                            <div class="panel-body">
                                <p>
                                    Oporteat urbanitas est et, possit menandri pertinax at quo. Epicurei volutpat ad vim, at dictas offendit lucilius vis, tollit partiendo ei sea. Debet choro vituperatoribus quo ne. No vide omnium probatus vix, duo an audire percipit inciderint.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingFour">
                            <h6 class="panel-title">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel4">
                                    What is legality and trust of your company ?
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="panel4">
                            <div class="panel-body">
                                <p>
                                    Oporteat urbanitas est et, possit menandri pertinax at quo. Epicurei volutpat ad vim, at dictas offendit lucilius vis, tollit partiendo ei sea. Debet choro vituperatoribus quo ne. No vide omnium probatus vix, duo an audire percipit inciderint.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingFive">
                            <h6 class="panel-title">
                                <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel5">
                                    How can sale my property ?
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="panel5">
                            <div class="panel-body">
                                <p>
                                    Oporteat urbanitas est et, possit menandri pertinax at quo. Epicurei volutpat ad vim, at dictas offendit lucilius vis, tollit partiendo ei sea. Debet choro vituperatoribus quo ne. No vide omnium probatus vix, duo an audire percipit inciderint.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion -->
            </div>
            <!--=====================================
            =            Section sidebar            =
            ======================================-->
            <div class="col-xs-12 col-sm-12 col-md-4 wow fadeInUp delay-07s ">
                <div class="panel panel-default m20">
                    <div class="panel-body">
                        <div class="sidebar-blog wow">
                            <div class="title">
                                <h3>
                                    SEARCH BLOG
                                </h3>
                            </div>
                            <div class="sidebar-body wow fadeInUp delay-07s">
                                <div id="custom-search-input">
                                    <form action="search" class="form" method="get">
                                        <div class="input-group col-xs-12 col-sm 12 col-md-12 serach-box">
                                            <input class="search-query form-control" name="" placeholder="Search" type="text">
                                            <button class="btn" type="button">
                                                <i aria-hidden="true" class="fa fa-search">
                                                </i>
                                            </button>
                                            </input>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


