@model EasyRent.Models.ContactUs

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add New Contact Us Details</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="message" class="control-label"></label>
                    <input asp-for="message" class="form-control" />
                    <span asp-validation-for="message" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isViewed" /> @Html.DisplayNameFor(model => model.isViewed)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


